/*------------------------------------------------------------------
AUTHOR: Randy D. Lagdaan
DESCIPTION: TRIUNE - Integrated system for all university processess
MATERIAL: Main Cascading Style Sheet for TRIUNE
DATE CREATED: March 8, 2018
DATE UPDATED: March 9, 2018
--------------------------------------------------------------------*/
body {
    font-family: "Lato", sans-serif;
}

#submitButton {
    background-color: #0a0909a6;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#clearButton {
    background-color: #0a0909a6;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}



div#error-messages {
    color:red; 
    font-size:.8em;
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic;
}

img.progressImageRight {
    height: 5%;
    width: 5%;
    display:none
}
    
i.textBoxMessageAvailableMd {
    display:none; 
    color:green; 
    padding: .5em; 
    font-size:.7em; 
    font-family: Arial, Helvetica, sans-serif; 
}

i.textBoxMessageNotAvailableMd {
    display:none; 
    color:red; 
    padding: .5em; 
    font-size:.7em; 
    font-family: Arial, Helvetica, sans-serif; 
}

b.jQueryFormValidationMessage {
    color:red; 
    padding: 1em; 
    font-size:.7em; 
    font-family: Arial, Helvetica, sans-serif;
}



.navbar-custom {
    background-color: #00562e;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

/* Create three equal columns that floats next to each other */
.three-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Create three equal columns that floats next to each other */
.two-column {
    float: left;
    width: 50%;
    padding: 5px;
}


/* Create three equal columns that floats next to each other */
.two-column-30 {
    float: left;
    width: 30%;
    padding: 2px;
}

/* Create three equal columns that floats next to each other */
.two-column-70 {
    float: left;
    width: 70%;
    padding: 2px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

div.form-style-1 {
    margin:2px auto;
    max-width:100%;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
}



b.small {
    align-self: center;
    min-width: 80px;
    max-width: 500px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-size: 16px


}



#multi-columns:after {
    content: "";
    display: table;
    clear: both;
}

#three-columns {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#two-columns-30 {
    float: left;
    width: 30%;
    padding: 5px;
}
#two-columns-70 {
    float: left;
    width: 70%;
    padding: 5px;
}

#two-columns {
    float: left;
    width: 50%;
    padding: 5px;
}

#one-column {
    width: 100%;
    padding: 5px;
}




